<header class="slice_nav_header">
  <a class="logo_container"></a>
  <nav class="slice_nav_bar">
    <div class="nav_bar_menu"></div>
    <div class="nav_bar_buttons"></div>
    <div class="mobile_close_menu">
      <svg
        class="w-6 h-6 text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="var(--primary-color-contrast)"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M6 18 17.94 6M18 18 6.06 6"
        />
      </svg>
    </div>
  </nav>
  <div class="mobile_menu_button">
    <svg
      class="w-6 h-6 text-gray-800 dark:text-white"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke="var(--primary-color-contrast)"
        stroke-linecap="round"
        stroke-width="3"
        d="M12 6h.01M12 12h.01M12 18h.01"
      />
    </svg>
  </div>
</header>
